$icon-font-path: "../bootstrap-sass/assets/fonts/bootstrap/";
@import "../bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "../bootstrap-sass/assets/stylesheets/bootstrap-sprockets";

// DEVICE LIST //
$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "only screen (min-width: 992px) and (max-width:1199px)";


html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-bottom: 30px;
}

.header-bar {
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 1.5em;
}

.wrapper {
    height: 100%;
    .line-selection-container {
        padding: 0 0 20px 0;
        margin: 0 auto;
        text-align: center;
    }
    .time-container {
        text-align: center;
    }
    .data-container {
        height: 500px;
        .data-wrapper{
            position: relative;
            text-align: center;
            display: none;
            &.active{
                display: block;
            }
            .close-button-wrapper {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .data-visualization {
            display: none;
            &.active {
                display: block;
            }
            overflow: hidden;
            height: 500px;
            @media #{$md-min} {
                height: 600px;
                width: 100%;
            }
            svg {
                margin: 0 auto;
                display: block;
                @media #{$md-min} {
                    padding: 25px 0;
                }
            }
        }
    }
    .map-container {
        position: relative;
        .choose_direction {
            z-index: 9999;
            position: absolute;
            top: 10px;
            right: 30px;
        }
        #map {
            // when smaller screen
            height: 450px;
            width: 100%;
            @media #{$md-min} {
                // when full screen
                width: 100%;
                height: 550px;
            }
        }
    }
}
